# Node / JS
server/node_modules/
client/node_modules/
admin-panel/node_modules/
server/.env.*
client/.env.*
server/public
server/src/config/AuthKey.p8
admin-panel/.env.*
*.log
.env
.env.* 

# Build / output
client/.next/
admin-panel/dist/
server/dist/

# Docker
*.env
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
