# Node / JS
client/node_modules/
admin-panel/node_modules/
Backend1/node_modules/
Backend2/node_modules/
client/.env.*
admin-panel/.env.*
*.log
.env
.env.*

# Build / output
client/.next/
admin-panel/dist/

# Docker
*.env
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
